<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header.ejs") %>
</head>

<body>
    <h2> About This App</h2>

    <p >
        This Express app uses Rick and Morty API to gather various types of information. The is a navigation menu
        consists of 4 tabs, the about page, the characters page which shows a list of characters from the show including
        the name, gender, species, type, origin, location, current status, etc. The search page lets the user look up
        any character in the entirety of the show and displays all their information. The search location page lets the
        user look up any location/ planet about the show and will display all characters located in that area from the
        show.
    </p>

    <%- include("partials/footer.ejs") %>
</body>

</html>