<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %>
</head>
<body>
    <h1 class="text-center"> Rick and Morty</h1>

    <img src='https://images7.alphacoders.com/133/thumb-1920-1335145.jpg' , alt="Rick and Morty" , width='800' , length='700', text-align="center" ;>


    <%- include("partials/footer.ejs") %>

</body>
</html>